.headbox {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 80px 50px;
    margin: 0px;
    flex: 1;
    width: 100%;
}

.header-logo img {
    height: auto;
    width: 100px;
}

.image-placeholder img {
    height: auto;
    width: 600px;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
}

.header-list ul {
    display: flex;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 15px;
}

.web-imgplace {
    display: flex;
    margin-top: 50px;
    align-items: flex-start;
    flex: 1;
}

.text-button {
    padding: 0px;
    padding-right: 20px;
}

h1 {
    font-weight: 900px;
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}

.head-subtext, .header-list li {
    font-size: 18px;
    color: #e5e7eb;

}

.signup {
    background-color: #3882F6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900px;
    border-radius: 10px;
    padding: 5px 20px;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid blue;
    border-radius: 15px;
    margin-bottom: 10px;
}

.text {
    width: 150px;
    text-align: center;
}

.info-list {
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
}

.box-text {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 30px;
    margin: 0px;
}

.sub-heading {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
}

.quote-box {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    padding: 80px 250px;
    gap: 40px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.speaker {
    align-self: flex-end;
    padding-right: 50px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700px;
}


